.App {
  text-align: center;
}

@font-face {
  font-family: 'Avenir';
  src: 
    local('Avenir'),
    url('files/fonts/AvenirLTStd-Book.otf');

  src: 
    local('Avenir'),
    url('files/fonts/Avenir-Medium.ttf');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0c6fc1;
}

.Page-header {
  color: #0c6fc1;
  font-family: 'Avenir';
  font-weight: bold;
  padding: 2%;
  width: 90%;
  margin-left: 5%;
}

.Learn-more {
  color: #0c6fc1;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  margin-left: 47%;
}

li.next, li.previous {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px;
}

.tableDiv {
  display: table;
  margin: 0 auto;
}

/* pagination */
.pagination {
    text-align: left;
}

li.paginationPage, li.break-me {
  display: none;
}

li.next, li.previous {
  background-color: #f5f5f5;
  border-radius: 10px;
}

li.next:active, li.previous:active {
  background-color: #0c6fc1;
}

.pagination {
  min-width: 696px;
  list-style: none;
  margin-top: 5%;
  justify-content: center;
  font-family: Avenir;
}

.pagination li {
  display: inline;
  padding: 15px;
}

.pagination li a {
  padding: 8px 5px;
  text-decoration: none;
  font-weight: 600;
  color: #0c6fc1;
}

.pagination .currPage a{
 background-color: #0c6fc1;
color: #ffffff;
/* color: #0c6fc1;
 background-color: #f5f5f5;*/
 border-radius: 10px;
}

.pagination li a:hover:not(.active) {
  outline: none;
  cursor: pointer;
}

.pagination li a:focus {
  outline: none;
}

.paginationPage {
  margin: 5px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 10px;
}

.paginationActive {
  background-color: #0c6fc1;
  color: white;
  border-radius: 10px;
}

.Header{
  width:100%;
}

.Navbar-div{
  width: 100%;
  height: 40px;
  background-color: #a6b4bc;
}

.Navbar-option {
  padding: 1%;
  padding-right: 30px;
  display: inline-block;
}

.navitem {
  color: #EEEEEE;
  font-family: 'Avenir';
  font-size: 20px;
}

.navitem:hover {
  color: #FFFFFF;
}

.About-body{
  text-align: left;
  width: 90%;
  margin-left: 5%;
  font-family: 'Avenir';
}

.About-links{
  text-align: center;
  font-weight: bold;
  width: 90%;
  margin-left: 5%;
}

.About-cards{
  width: 90%;
  margin-left: 5%;
}

.Splash-header{
  font-size: 50px;
  font-family: 'Avenir';
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.Splash-body{
  text-align: center;
  font-family: 'Avenir';
  font-size: 30px;
  width: 90%;
  padding-bottom: 7%;
  padding-top: 7%;
  margin-left: 5%;
  color: gray;
}

.Splash-other{
  text-align: center;
  font-family: 'Avenir';
  color:#0c6fc1;
  font-weight: bold;
  font-size: 30px;
  width: 90%;
  padding-bottom: 3%;
  margin-left: 5%;
}

.Splash-search-header{
  color: #0c6fc1;
  font-family: 'Avenir';
  font-weight: bold;
  padding-top: 2%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.Splash-search-body{
  text-align: center;
  width: 90%;
  margin-left: 5%;
  font-family: 'Avenir';
}

.Model-body{
  text-align: left;
  width: 90%;
  padding-left: 13%;
  padding-right: 5%;
  font-family: 'Avenir';
}

.Instance-body{
  text-align: left;
  width: 90%;
  margin-left: 5%;
}

.Resources-body{
  text-align: center;
  width: 90%;
  margin-left: 5%;
  font-family: 'Avenir';
}

.Logo-cards{
  width: 90%;
  margin-left: 5%;
}

.Footer{
  background-color: #0c6fc1;
  margin-top: 100px;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.Search-body{
  text-align: center;
  width: 90%;
  margin-left: 5%;
  font-family: 'Avenir';
}

.Search-bar{
  margin: auto;
  width: 25%;
}

.instance_button{
  background-color: #f5f5f5;
  border: none;
  color: #0c6fc1;
  font-family: 'Avenir';
  margin: 5px;
  border-radius: 5px;
}

.sort-body {
  float: left;
  width: 30%;
  padding-left: 15px;

}

.sort-button {
  float: left;
  width: 75%;
}

.form-container {
  content: "";
  display: table;
  clear: both;
  padding-top: 15px;
}

.order-button {
  float:left;
  width: 25%;
  padding-top: 2px;
  padding-left: 5px;
  outline-color: #0c6fc1;
}

/* Filter and Sort */
.filter-sort-container {
  width: 100%;
  padding: 5px;
}


/* Clear floats after the columns */
.filter-sort-container:after {
  content: "";
  display: table;
  clear: both;
  outline-color: #0c6fc1;
}

.filter-body {
  float: left;
  width: 50%;
  content: "";
  display: table;
  clear: both;
}

.filter-item {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  width: 20%;
}

.YourHighlightClass {
  background-color: #ffdd1e
}